<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab03ex3.Properties.Settings.LAB_DATABASE_CONNECTION_CSHARP_4LABSConnectionString"
            connectionString="Host=localhost;Username=postgres;Database=&quot;LAB_DATABASE CONNECTION_CSHARP_4LABS&quot;;Password=DvBI@185101"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>